h2
    | Sign Up
    form(action = "/create", method = "post",enctype='multipart/form-data')
        | Firstname :
        input(type="text", name="firstname", id="firstname")
        br
        | Lastname :
        input(type="text", name="lastname", id="lastname")
        br
        | Email :
        input(type="text", name="email", id="email")
        br
        | Password :
        input(type="password", name="password", id="password")
        br
        | Phone no. :
        input(type="text", name="phone", id="phone")
        br
        | User image :
        input(type='file', name='user_image')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type="submit", value="Register")

h2
    | Login
    form(method='POST', action='/login')
        | Username :
        input(type='text', name='user')
        br
        | Password :
        input(type='password', name='pass')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        input(type='submit', name='login', value='Login')
h2
    | Access_token_login
    form(action='/accessTokenLogin', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', value='submit')

h2
    | Logout
    form(method='POST', action='/logout')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', name='logout', value='Logout')

h2
    | Edit_profile
    form(action='/editProfile', method='post', enctype='multipart/form-data')
        | First name :
        input(type='text', name='Fname')
        br
        | Last name :
        input(type='text', name='Lname')
        br
        | Email :
        input(type='text', name='email')
        br
        | Phone no :
        input(type='text', name='phone')
        br
        | Access_token :
        input(type='text', name='access_token')
        br
        | Image :
        input(type='file', name='user_image')
        br
        input(type='submit', value='submit')
h2
    | Change_password
    form(action='/changePassword', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        | Old password :
        input(type='text', name='old_password')
        br
        | New Password :
        input(type='text', name='new_password')
        br
        input(type='submit', value='submit')

h2
    | Forgot Password
    form(method='POST', action='/forgot')
        | Email :
        input(type='text', name='email')
        br
        input(type='submit', name='resetPass', value='Confirm')
h2
    | Reset Password
    form(method='POST', action='/reset')
        | One Time Link :
        input(type='text', name='link')
        br
        | New Password :
        input(type='password', name='pass')
        br
        input(type='submit', name='confirm', value='Confirm')
 h2
     | Show Drivers
     form(method='POST', action='/showDriver')
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type='submit', name='confirm', value='Confirm')

h2
    | Search Drivers
    form(method='POST', action='/searchDrivers')
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type='submit', name='confirm', value='Confirm')

h2
    | Driver Sign Up
    form(action = "/driverCreate", method = "post",enctype='multipart/form-data')
        | Firstname :
        input(type="text", name="firstname", id="firstname")
        br
        | Lastname :
        input(type="text", name="lastname", id="lastname")
        br
        | Email :
        input(type="text", name="email", id="email")
        br
        | Password :
        input(type="password", name="password", id="password")
        br
        | Phone no. :
        input(type="text", name="phone", id="phone")
        br
        | User image :
        input(type='file', name='user_image')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Latitude :
        input(type='text', name='latitude')
        br
        | Longitude :
        input(type='text', name='longitude')
        br
        input(type="submit", value="Register")

h2
    | Driver Login
    form(method='POST', action='/driverLogin')
        | Username :
        input(type='text', name='user')
        br
        | Password :
        input(type='password', name='pass')
        br
        | Device token :
        input(type='text', name='device_token')
        br
        | Device type :
        input(type='text', name='device_type')
        br
        input(type='submit', name='login', value='Login')
h2
    | Driver Access_token_login
    form(action='/driverAccessTokenLogin', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', value='submit')
h2
    | Driver Logout
    form(method='POST', action='/driverLogout')
        | Access token :
        input(type='text', name='access_token')
        br
        input(type='submit', name='logout', value='Logout')

h2
    | Driver Edit_profile
    form(action='/driverEditProfile', method='post', enctype='multipart/form-data')
        | First name :
        input(type='text', name='Fname')
        br
        | Last name :
        input(type='text', name='Lname')
        br
        | Email :
        input(type='text', name='email')
        br
        | Phone no :
        input(type='text', name='phone')
        br
        | Access_token :
        input(type='text', name='access_token')
        br
        | Image :
        input(type='file', name='user_image')
        br
        input(type='submit', value='submit')
h2
    | Driver Change_password
    form(action='/driverChangePassword', method='post')
        | Access token :
        input(type='text', name='access_token')
        br
        | Old password :
        input(type='text', name='old_password')
        br
        | New Password :
        input(type='text', name='new_password')
        br
        input(type='submit', value='submit')

h2
    | Driver Forgot Password
    form(method='POST', action='/driverForgot')
        | Email :
        input(type='text', name='email')
        br
        input(type='submit', name='resetPass', value='Confirm')
h2
    | Driver Reset Password
    form(method='POST', action='/driverReset')
        | One Time Link :
        input(type='text', name='link')
        br
        | New Password :
        input(type='password', name='pass')
        br
        input(type='submit', name='confirm', value='Confirm')